/* Last update: Version [[1.30]], place version 4341 */

/* Attributes */
.mutation-big, .mutation-big a:not(.new), .mutation-giant, .mutation-giant a:not(.new) { color: #8bff89; }
.mutation-shiny, .mutation-shiny a:not(.new), .mutation-sparkling, .mutation-sparkling a:not(.new) { color: #fff0bc; }

/* Mutations */
.mutation-abyssal, .mutation-abyssal a:not(.new), .mutation-abyssal .oo-ui-labelElement-label { color: #0c0fd4; }
.mutation-albino, .mutation-albino a:not(.new), .mutation-albino .oo-ui-labelElement-label { color: #fcfeff; }
.mutation-amber, .mutation-amber a:not(.new), .mutation-amber .oo-ui-labelElement-label { color: #ff7433; }
.mutation-anomalous, .mutation-anomalous a:not(.new), .mutation-anomalous .oo-ui-labelElement-label { color: #ff2b2b; }
.mutation-ashen-fortune, .mutation-ashen-fortune a:not(.new), .mutation-ashen-fortune .oo-ui-labelElement-label { color: #ffaa00; }
.mutation-atlantean, .mutation-atlantean a:not(.new), .mutation-atlantean .oo-ui-labelElement-label { color: #229995; }
.mutation-aureate, .mutation-aureate a:not(.new), .mutation-aureate .oo-ui-labelElement-label { color: #8c3e07; }
.mutation-aurelian, .mutation-aurelian a:not(.new), .mutation-aurelian .oo-ui-labelElement-label { color: #902707; }
.mutation-aurora, .mutation-aurora a:not(.new), .mutation-aurora .oo-ui-labelElement-label { color: #4effd9; }
.mutation-aurous, .mutation-aurous a:not(.new), .mutation-aurous .oo-ui-labelElement-label { color: #730a0a; }
.mutation-aurulent, .mutation-aurulent a:not(.new), .mutation-aurulent .oo-ui-labelElement-label { color: #a25c06; }
.mutation-aurulent, .mutation-aurulent a:not(.new), .mutation-aurulent .oo-ui-labelElement-label { color: #dc9a01; }
.mutation-aureolin, .mutation-aureolin a:not(.new), .mutation-aureolin .oo-ui-labelElement-label { color: #dc9a01; }
.mutation-awesome, .mutation-awesome a:not(.new), .mutation-awesome .oo-ui-labelElement-label { color: #ff0000; }
.mutation-lego, .mutation-lego a:not(.new), .mutation-lego .oo-ui-labelElement-label { color: #ff0000; }
.mutation-blarney, .mutation-blarney a:not(.new), .mutation-blarney .oo-ui-labelElement-label { color: #389f13; }
.mutation-blessed, .mutation-blessed a:not(.new), .mutation-blessed .oo-ui-labelElement-label { color: #f9ffd3; }
.mutation-blighted, .mutation-blighted a:not(.new), .mutation-blighted .oo-ui-labelElement-label { color: #6a50cf; }
.mutation-bloom, .mutation-bloom a:not(.new), .mutation-bloom .oo-ui-labelElement-label { color: #55557f; }
.mutation-brother, .mutation-brother a:not(.new), .mutation-brother .oo-ui-labelElement-label { color: #00fbff; }
.mutation-brown-wood, .mutation-brown-wood a:not(.new), .mutation-brown-wood .oo-ui-labelElement-label { color: #8f6039; }
.mutation-celestial, .mutation-celestial a:not(.new), .mutation-celestial .oo-ui-labelElement-label { color: #ffe26c; }
.mutation-chaotic, .mutation-chaotic a:not(.new), .mutation-chaotic .oo-ui-labelElement-label { color: #141316; }
.mutation-charred, .mutation-charred a:not(.new), .mutation-charred .oo-ui-labelElement-label { color: #939393; }
.mutation-chocolate, .mutation-chocolate a:not(.new), .mutation-chocolate .oo-ui-labelElement-label { color: #6c4d41; }
.mutation-clover, .mutation-clover a:not(.new), .mutation-clover .oo-ui-labelElement-label { color: #7bff00; }
.mutation-cracked, .mutation-cracked a:not(.new), .mutation-cracked .oo-ui-labelElement-label { color: #240036; }
.mutation-crystalized, .mutation-crystalized a:not(.new), .mutation-crystalized .oo-ui-labelElement-label { color: #ff7214; }
.mutation-cursed, .mutation-cursed a:not(.new), .mutation-cursed .oo-ui-labelElement-label { color: #66ff8a; }
.mutation-cursed-touch, .mutation-cursed-touch a:not(.new), .mutation-cursed-touch .oo-ui-labelElement-label { color: #00ff00; }
.mutation-darkened, .mutation-darkened a:not(.new), .mutation-darkened .oo-ui-labelElement-label { color: #3a3d3e; }
.mutation-doomsday, .mutation-doomsday a:not(.new), .mutation-doomsday .oo-ui-labelElement-label { color: #ff5f00; }
.mutation-easter, .mutation-easter a:not(.new), .mutation-easter .oo-ui-labelElement-label { color: #d9b7ff; }
.mutation-electric, .mutation-electric a:not(.new), .mutation-electric .oo-ui-labelElement-label { color: #fff563; }
.mutation-electric-shock, .mutation-electric-shock a:not(.new), .mutation-electric-shock .oo-ui-labelElement-label { color: #8a16dd; }
.mutation-ember, .mutation-ember a:not(.new), .mutation-ember .oo-ui-labelElement-label { color: #ffaa00; }
.mutation-emberflame, .mutation-emberflame a:not(.new), .mutation-emberflame .oo-ui-labelElement-label { color: #ffaa00; }
.mutation-female, .mutation-female a:not(.new), .mutation-female .oo-ui-labelElement-label { color: #ff00ff; }
.mutation-festive, .mutation-festive a:not(.new), .mutation-festive .oo-ui-labelElement-label { color: #ff7c7c; }
.mutation-firework, .mutation-firework a:not(.new), .mutation-firework .oo-ui-labelElement-label { color: #877eff; }
.mutation-fossilized, .mutation-fossilized a:not(.new), .mutation-fossilized .oo-ui-labelElement-label { color: #d0b5ff; }
.mutation-frozen, .mutation-frozen a:not(.new), .mutation-frozen .oo-ui-labelElement-label { color: #83ffe6; }
.mutation-ghastly, .mutation-ghastly a:not(.new), .mutation-ghastly .oo-ui-labelElement-label { color: #61ff5e; }
.mutation-glossy, .mutation-glossy a:not(.new), .mutation-glossy .oo-ui-labelElement-label { color: #92e2ff; }
.mutation-greedy, .mutation-greedy a:not(.new), .mutation-greedy .oo-ui-labelElement-label { color: #ffc226; }
.mutation-green-leaf, .mutation-green-leaf a:not(.new), .mutation-green-leaf .oo-ui-labelElement-label { color: #55aa00; }
.mutation-heavenly, .mutation-heavenly a:not(.new), .mutation-heavenly .oo-ui-labelElement-label { color: #fff8c5; }
.mutation-hexed, .mutation-hexed a:not(.new), .mutation-hexed .oo-ui-labelElement-label { color: #a60000; }
.mutation-jolly, .mutation-jolly a:not(.new), .mutation-jolly .oo-ui-labelElement-label { color: #105e13; }
.mutation-kings-blessing, .mutation-kings-blessing a:not(.new), .mutation-kings-blessing .oo-ui-labelElement-label { color: #ffff7f; }
.mutation-lightning, .mutation-lightning a:not(.new), .mutation-lightning .oo-ui-labelElement-label { color: #e5b700; }
.mutation-lost, .mutation-lost a:not(.new), .mutation-lost .oo-ui-labelElement-label { color: #a0ff83; }
.mutation-lunar, .mutation-lunar a:not(.new), .mutation-lunar .oo-ui-labelElement-label { color: #bda9ff; }
.mutation-midas, .mutation-midas a:not(.new), .mutation-midas .oo-ui-labelElement-label { color: #ff9a47; }
.mutation-minty, .mutation-minty a:not(.new), .mutation-minty .oo-ui-labelElement-label { color: #80ffb9; }
.mutation-moon-kissed, .mutation-moon-kissed a:not(.new), .mutation-moon-kissed .oo-ui-labelElement-label { color: #7de1ff; }
.mutation-mosaic, .mutation-mosaic a:not(.new), .mutation-mosaic .oo-ui-labelElement-label { color: #fbc1ff; }
.mutation-mother-nature, .mutation-mother-nature a:not(.new), .mutation-mother-nature .oo-ui-labelElement-label { color: #aaaaff; }
.mutation-mythical, .mutation-mythical a:not(.new), .mutation-mythical .oo-ui-labelElement-label { color: #ff5294; }
.mutation-negative, .mutation-negative a:not(.new), .mutation-negative .oo-ui-labelElement-label { color: #7567e2; }
.mutation-nuclear, .mutation-nuclear a:not(.new), .mutation-nuclear .oo-ui-labelElement-label { color: #00ff00; }
.mutation-prismize, .mutation-prismize a:not(.new), .mutation-prismize .oo-ui-labelElement-label { color: #29003e; }
.mutation-purified, .mutation-purified a:not(.new), .mutation-purified .oo-ui-labelElement-label { color: #6eff78; }
.mutation-revitalized, .mutation-revitalized a:not(.new), .mutation-revitalized .oo-ui-labelElement-label { color: #a4ffaa; }
.mutation-sandy, .mutation-sandy a:not(.new), .mutation-sandy .oo-ui-labelElement-label { color: #ffc3a1; }
.mutation-sanguine, .mutation-sanguine a:not(.new), .mutation-sanguine .oo-ui-labelElement-label { color: #4a0808; }
.mutation-scorched, .mutation-scorched a:not(.new), .mutation-scorched .oo-ui-labelElement-label { color: #471e11; }
.mutation-seasonal, .mutation-seasonal a:not(.new), .mutation-seasonal .oo-ui-labelElement-label { color: #e12525; }
.mutation-silver, .mutation-silver a:not(.new), .mutation-silver .oo-ui-labelElement-label { color: #ceeeff; }
.mutation-sinister, .mutation-sinister a:not(.new), .mutation-sinister .oo-ui-labelElement-label { color: #c8582c; }
.mutation-sleet, .mutation-sleet a:not(.new), .mutation-sleet .oo-ui-labelElement-label { color: #434c6a; }
.mutation-solarblaze, .mutation-solarblaze a:not(.new), .mutation-solarblaze .oo-ui-labelElement-label { color: #ff6a00; }
.mutation-studded, .mutation-studded a:not(.new), .mutation-studded .oo-ui-labelElement-label { color: #a3a2a5; }
.mutation-subspace, .mutation-subspace a:not(.new), .mutation-subspace .oo-ui-labelElement-label { color: #ff00c8; }
.mutation-sunken, .mutation-sunken a:not(.new), .mutation-sunken .oo-ui-labelElement-label { color: #175dff; }
.mutation-tentacle-surge, .mutation-tentacle-surge a:not(.new), .mutation-tentacle-surge .oo-ui-labelElement-label { color: #aaaaff; }
.mutation-translucent, .mutation-translucent a:not(.new), .mutation-translucent .oo-ui-labelElement-label { color: #87ffbf; }
.mutation-unsellable, .mutation-unsellable a:not(.new), .mutation-unsellable .oo-ui-labelElement-label { color: #ff4c4c; }
.mutation-wrath, .mutation-wrath a:not(.new), .mutation-wrath .oo-ui-labelElement-label { color: #00aa7f; }